<div id="control-panel">
  <!-- PANEL START HERE-->
  <div class="dashboard-panel">

  </div>
  <!-- PANEL ENDS HERE-->
</div>
    <style>
      /* ----MOVE THIS INTO APP CSS----- */
      #wrapper{
        position: relative;
        margin-bottom: 100px;
      }

      #control-panel{
        background-color: #B3B3B3;
        bottom: 0;
        height: 100px;
        position: fixed;
        width: 100%;
      }
    </style>