<div class="logged-in-user">
    Welcome back, <%= formated_user_name(current_user) %><br />
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</div>
<div class="live-event">
    <span>You have <%=@total_live_events%> live event<%=@total_live_events > 1 ? "s" : ""%></span>
</div>