<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <style>
body {
    background-color: #789E42;
    font-family: Georgia,"Times New Roman",Times,serif;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}
    </style>
    <h1>Welcome to inviteez <%= @user_name %>
    </h1>
    <p>
      <%=Time.now%><br/>
    </p>
    <p>
      To login to the site, just follow this link: <a href="http://fierce-sunset-8159.herokuapp.com">Click here</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>