<!DOCTYPE html><html>
  <head>
    <title>INVITATION_TITLE</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Italianno"/>
  </head>
  <body>
    <div id="wrapper">
        <label class="title">Main Title</label>
        <label class="title sub-title">Sub Title comes over here....</label>
        
        <div class="content">
                  &nbsp;&nbsp;Don't walk in front of me, I may not follow.
        Don't walk behind me, I may not lead.
        Just walk beside me and be my friend forever.
        Wedding Invitation Quote by an Unknown author
        </div>

        <div class="partners-name">
          <label class="partner-one">Partner One</label><br/>
          <label class="and">weds</label><br/>
          <label class="partner-two">Partner Two</label>
        </div>
        
        <div class="event-on">14 February 2012, 7.30 PM</div><br/>
        <div style="float: left; font-size: 32px; clear: both; margin-left: 411px; color: gray;">at</div>
        <div class="events-venue">
            123, Address line one,<br/>
            Address line 2,<br/>
            City, State - 456789
        </div>

        <div class="rsvp" style="color: white; float: right;">
            <label class="rsvp-header" style="font-size: 32px; color: gray;">RSVP</label><br/>
            <label>Contact Name one,</label><br/>
            <label>Contact Name two</label><br/>
            <label><a href="mailto:abc@example.com">abc@example.com</a></label>&nbsp; | &nbsp;<label>+91 9820 345 678</label>
        </div>
    </div>

    <style>
      body{
        background-color: black;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        font-family: Italianno;
      }
      a{
        text-decoration: none;
      }
      #wrapper{
          background-image: url("/assets/web/invitation_designs/wedding/black-with-red-heart.jpg");
          background-repeat: no-repeat;
          border: 10px solid white;
          display: block;
          height: 700px;
          margin: 0 auto;
          width: 787px;
      }

      label.title{
            color: white;
            float: left;
            font-size: 85px;
            text-align: center;
            width: 100%;
            height: 75px;
       }
       label.sub-title{
            font-size: 24px;
       }
       div.content{
              color: white;
              float: left;
              font-size: 26px;
              height: 280px;
              margin-top: 15px;
              width: 450px;
              margin-left: 15px;
       }
       .partners-name{
            color: white;
            float: left;
            height: 200px;
            margin-top: 70px;
            width: 315px;
            margin-left: -15px;
      }
      .partner-one{
            float: left;
            font-size: 40px;
            margin-left: 25px;
            margin-top: 40px;
      }
      .partner-two{
            float: left;
            font-size: 40px;
            margin-left: -50px;
            margin-top: 65px;
      }
      .and{
            float: left;
            font-size: 28px;
            margin-left: -50px;
            margin-top: 55px;
      }
      .events-venue{
            color: white;
            float: left;
            font-size: 22px;
            margin-left: 360px;
            width: 415px;
      }
      .event-on{
            clear: both;
            color: white;
            float: left;
            font-size: 22px;
            margin-left: 360px;
            margin-top: -12px;
      }
      .rsvp label{
        font-size: 20px;
      }
      .rsvp a{
        color: inherit;
      }
    </style>
  </body>
</html>
