<!DOCTYPE html><html>
  <head>
    <title>INVITATION_TITLE</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Italianno"/>
  </head>
  <body>
    <div id="wrapper">
        <div class="left-container">
          <label class="title">Main Title</label>
          <label class="title sub-title">Sub Title comes over here....</label>
        </div>
        <div class="right-container">
          <div class="event-on">14 February 2012, 7.30 PM</div><br/>
          <div style="text-align: center; font-size: 40px; color: white; margin-top: 20px;">At</div>
          <div class="events-venue">
              123, Address line one,<br/>
              Address line 2,<br/>
              City, State - 456789
          </div>
        </div>

        <div class="content">
                  &nbsp;&nbsp;Don't walk in front of me, I may not follow.
        Don't walk behind me, I may not lead.
        Just walk beside me and be my friend forever.
        Wedding Invitation Quote by an Unknown author. Don't walk in front of me, I may not follow.
        Don't walk behind me, I may not lead.
        Just walk beside me and be my friend forever.
        Wedding Invitation Quote by an Unknown author
        </div>

        <div class="partners-name">
          <label class="partner-one">Partner One</label><br/>
          <label class="and">weds</label><br/>
          <label class="partner-two">Partner Two</label>
        </div>

        <div class="rsvp" style="color: white; float: right;">
            <label class="rsvp-header" style="font-size: 32px; color: gray;">RSVP</label><br/>
            <label>Contact Name one,</label><br/>
            <label>Contact Name two</label><br/>
            <label><a href="mailto:abc@example.com">abc@example.com</a></label>&nbsp; | &nbsp;<label>+91 9820 345 678</label>
        </div>
    </div>

    <style>
      body{
        background-color: black;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        font-family: Italianno;
      }
      a{
        text-decoration: none;
      }
      #wrapper{
          background-image: url("/assets/web/invitation_designs/wedding/black-with-red-rose.jpg");
          background-repeat: no-repeat;
          border: 10px solid white;
          display: block;
          height: 637px;
          margin: 0 auto;
          width: 787px;
      }

      label.title{
        color: white;
        float: left;
        font-size: 85px;
        height: 75px;
        text-align: left;
        width: 500px;
       }
       label.sub-title{
        font-size: 24px;
        margin-left: 50px;
        width: 450px;
       }
       div.content{
        color: white;
        float: left;
        font-size: 26px;
        height: 280px;
        margin-left: 15px;
        margin-top: -140px;
        width: 500px;
       }
       .partners-name{
          color: #FFFFFF;
          float: left;
          height: 170px;
          width: 385px;
      }
      .partner-one{
          float: left;
          font-size: 40px;
          padding-left: 20px;
          width: 365px; 
      }
      .partner-two{
          font-size: 40px;
          margin-left: 20px;
          width: 365px;
      }
      .and{
          float: left;
          font-size: 40px;
          margin-left: 20px;
          margin-top: -10px;
          width: 365px;     
      }
      .events-venue{
            color: black;
            font-size: 32px;
            margin-top: 25px;
            text-align: right;
            
      }
      .event-on{
          color: black;
          font-size: 26px;
          margin: 26px 0 0 40px;
      }
      .rsvp label{
        font-size: 20px;
      }
      .rsvp a{
        color: inherit;
      }
      .left-container{
        float: left;
        height: 150px;
        width: 500px;       
      }
      .right-container{
        float: left;
        height: 325px;
        width: 280px;
      }
    </style>
  </body>
</html>
