<div class="container">

    <div class="invitaion-desc"></div>
    <div class="invitation-types">
          <label class="text-header">Chose your Event</label>
          <ul class="display-tiles">
            <%@type.each do |type|%>
                <li class="label" onclick="window.location.href = '/portfolio/new/<%=type.id%>'"><%= type.invitation_type%></li>
            <%end%>
          </ul>
    </div>
      
</div>