/* 
    Document   : design_main
    Created on : Nov 28, 2011, 11:55:23 PM
    Author     : lareb
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "Gudea", "Arial", "Times New Roman", Times, serif;
    background-image: url(/assets/web/green-bg.png);
    height: 100%;
    width: 100%;
    position: absolute;
}

a{
    text-decoration:none;
}

.clear-right{
    clear:right;
}

.clear-left{
    clear:left;
}

.clear{
    clear:both;
}

.notifications{
    background: -moz-linear-gradient(center top , #2C2C2C, #4D4D4D 100%) repeat scroll 0 0 transparent;
    background:#B3B3B3;
    background:-moz-linear-gradient(center top , #2C2C2C, #4D4D4D) repeat scroll 0 0 transparent;
    background:-moz-linear-gradient(top,#2C2C2C, #4D4D4D);
    background:-webkit-linear-gradient(top,#2C2C2C, #4D4D4D);
    background:-o-linear-gradient(top,#2C2C2C, #4D4D4D);
    background:linear-gradient(top,#2C2C2C, #4D4D4D);
    height: 25px;
    width: 100%;
}

.notifications a{
    background:#B3B3B3;
    background:-moz-linear-gradient(center top , #B3B3B3, #FFFFFF) repeat scroll 0 0 transparent;
    background:-moz-linear-gradient(top,#B3B3B3, #FFFFFF);
    background:-webkit-linear-gradient(top,#B3B3B3, #FFFFFF);
    background:-o-linear-gradient(top,#B3B3B3, #FFFFFF);
    background:linear-gradient(top,#B3B3B3, #FFFFFF);
    color: black;
    height: 100%;
    text-align: center;
    width: 75px;
}

.notifications a.next{float: right}
.notifications a.prev{float: left}

.notifications ul{
    color: white;
    float: left;
    font-size: 14px;
    list-style: none outside none;
    margin-top: 3px;
    text-align: center;
    width: 88%;
}

#wrapper{    
    width: 80%;
    margin: 0 10%;
}

#wrapper .header{
    height: 140px;
    width: auto;
}

#logo{
    background-image: url(/assets/web/inviteez-logo.png);
    height: 97px;
    width: 276px;
    margin-top: 25px;
    cursor: pointer;
    float: left;
}

.text-header{
    color: white;
    font-family: gudea, Atial;
    font-size: 34px;
}

.label{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.2s ease-in-out 0s;
    background:#B3B3B3;
    background:-moz-linear-gradient(center top , #B3B3B3, #FFFFFF) repeat scroll 0 0 transparent;
    background:-moz-linear-gradient(top,#B3B3B3, #FFFFFF);
    background:-webkit-linear-gradient(top,#B3B3B3, #FFFFFF);
    background:-o-linear-gradient(top,#B3B3B3, #FFFFFF);
    background:linear-gradient(top,#B3B3B3, #FFFFFF);
    border-color: #FFFFFF;
    border-bottom-width:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    border-style: solid;
    border-width: 1px 1px 3px;
    -moz-box-shadow:
    0 0 5px rgba(0,0,0,0.5),
    0 1px 0 rgba(255,255,255,0.1) inset;
    -webkit-box-shadow:
    0 0 5px rgba(0,0,0,0.5),
    0 1px 0 rgba(255,255,255,0.1) inset;
    box-shadow:
    0 0 5px rgba(0,0,0,0.5),
    0 1px 0 rgba(255,255,255,0.1) inset;
    color: #6A6A6A;
    cursor: pointer;
    display: inline-block;
    font-family: "Gudea", "Arial";
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1;
    padding: 48px 15px;
    text-decoration: none;
    text-shadow: 0 0 2px #6A6A6A;
    text-transform: uppercase;
}

#wrapper hr{
    color: white;
    clear: left;
}

.login-box{
    float: right;
    height: 100px;
    margin-top: 25px;
    width: 385px;
}
.logged-in-user{
    color: #B3B3B3;
    float: right;
    font-family: gudea, "arial";
    font-size: 20px;

}
.live-event{
    clear: right;
    float: right;
    margin-top: 11px;
    padding: 10px;
    width: 215px;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.2s ease-in-out 0s;
    background:#B3B3B3;
    background: -moz-linear-gradient(center top , #B3B3B3 12px, #B3B3B3 31px) repeat scroll 0 0 transparent;
    background:-moz-linear-gradient(top,#B3B3B3 12px, #B3B3B3 31px);
    background:-webkit-linear-gradient(top,#B3B3B3 12px, #B3B3B3 31px);
    background:-o-linear-gradient(top,#B3B3B3 12px, #B3B3B3 31px);
    background:linear-gradient(top,#B3B3B3 12px, #B3B3B3 31px);
    border-color: #B3B3B3;
    border-bottom-width:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;

    border-style: solid;
    border-width: 1px 1px 3px;
    -moz-box-shadow:
    0 0 10px #000000,
    0 1px 0 rgba(255,255,255,0.1) inset;
    -webkit-box-shadow:
    0 0 10px #000000,
    0 1px 0 rgba(255,255,255,0.1) inset;
    box-shadow:
    0 0 10px #000000, 
    0 1px 0 rgba(255, 255, 255, 0.1) inset;

    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Gudea", "Arial";
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1;
    text-decoration: none;
    text-shadow: 0 0 2px #fff;
    text-align: center;
}


.logged-in-user a{
    color: #B3B3B3;
    float: right;
}

.login-box dl{
    color: #B3B3B3;
    float: right;
    font-family: gudea, Arial;
}

.login-box dl dt{
    color: black;
    font-family: Gudea, Arial;
    margin-bottom: 5px;
    width: 385px;
}

.signup dl dt{
    border: 0px solid red;
    float: right;
    width: 305px;
}

.login-box dl dt select{
    background-color: #789E42;
    border: 0 solid red;
    padding: 4px;
    width: 216px;
    margin-bottom: 5px;
    font-size: 13px;
}

.login-box dl dt label{
    float: left;
    font-size: 17px;
    width: 84px;
}

.login-box dl dt input{
    background-color: #789E42;
    border: 0 none;
    font-size: 13px;
    height: 22px;
    margin-bottom: 5px;
    margin-right: 4px;
    width: 216px;
}

.login-box dl dt a{
    color: black;
    float: none;
    font-family: Gudea, Arial;
    font-size: 13px;
}

.login-box dl dt.login_links{
    color: black;
    width: 100%;
}

.signup dl dt input.sign-up {
    background: url("/assets/web/sign-up.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 27px;
    text-indent: -99999px;
    width: 85px;
}

.login-box dl dt input.login_button{
    background: url("/assets/web/sign-in.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 27px;
    text-indent: -99999px;
    width: 77px;
}

.container{
    height: auto;
    width: 100%;
}

.container .invitation-slider{
    border: 1px red solid;
    height: 350px;
    width: 64%;
    float: left;
}

.container .why-inviteez{
    float: left;
    height: 350px;
    margin-left: 16px;
    width: 34%;
}

.container .why-inviteez label.why-inviteez-header{
    background-image: url("/assets/web/why-inviteez.png");
    background-repeat: no-repeat;
    float: right;
    height: 45px;
    margin-top: 10px;
    text-indent: -999999px;
    width: 260px;    
}

.signup-n-invaite{
    background-image: url("/assets/web/signup-n-invite.png");
    background-repeat: no-repeat;
    float: right;
    height: 38px;
    margin: 10px 0 0;
    text-indent: -999999px;
    width: 312px;
}

ul.error-box{
    color: #FFFFFF;
    font-family: Gudea, Arial;
    font-size: 12px;
    height: 105px;
    list-style: none outside none;
    margin-left: 132px;
    width: 210px;
}

.error-box-new{
    clear: right;
    padding: 10px;
    width: 390px;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.2s ease-in-out 0s;
    background:#B3B3B3;
    background: -moz-linear-gradient(center top , #B3B3B3 12px, #B3B3B3 31px) repeat scroll 0 0 transparent;
    background:-moz-linear-gradient(top,#B3B3B3 12px, #B3B3B3 31px);
    background:-webkit-linear-gradient(top,#B3B3B3 12px, #B3B3B3 31px);
    background:-o-linear-gradient(top,#B3B3B3 12px, #B3B3B3 31px);
    background:linear-gradient(top,#B3B3B3 12px, #B3B3B3 31px);
    border-color: #B3B3B3;
    border-bottom-width:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;

    border-style: solid;
    border-width: 1px 1px 3px;
    -moz-box-shadow:
    0 0 10px red,
    0 1px 0 rgba(255,255,255,0.1) inset;
    -webkit-box-shadow:
    0 0 10px red,
    0 1px 0 rgba(255,255,255,0.1) inset;
    box-shadow:
    0 0 10px red,
    0 1px 0 rgba(255, 255, 255, 0.1) inset;

    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Gudea", "Arial";
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 16px;
    text-decoration: none;
    text-align: left;
}

.error{
    border-right: 1px red solid !important;
}

.container .why-inviteez .reasons-box{
    float: left;
    width: 100%;
}

.container .why-inviteez .reasons-box ul{
    list-style: none;
}

.container .why-inviteez .reasons-box ul li{
    float: left;
    height: 80px;
    margin: 0 0 20px 25px;
    width: 87px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.signup{
    margin-top: 0px;
    height: 350px;
    width: 360px;
}

.container .why-inviteez .reasons-box ul li.plus-design{
    background-image: url(/assets/web/200_plus_design.png);
}
.container .why-inviteez .reasons-box ul li.fancy-email{
    background-image: url(/assets/web/fancy-email.png);
}
.container .why-inviteez .reasons-box ul li.slide-show{
    background-image: url(/assets/web/slide-show.png);
}
.container .why-inviteez .reasons-box ul li.add-videos{
    background-image: url(/assets/web/add-videos.png);
}
.container .why-inviteez .reasons-box ul li.easy-control-panel{
    background-image: url(/assets/web/easy-control-panel.png);
}
.container .why-inviteez .reasons-box ul li.event-update{
    background-image: url(/assets/web/event-update.png);
}
.container .why-inviteez .reasons-box ul li.wish-list{
    background-image: url(/assets/web/wish-list.png);
}
.container .why-inviteez .reasons-box ul li.security{
    background-image: url(/assets/web/security.png);
}
.container .why-inviteez .reasons-box ul li.more{
    background-image: url(/assets/web/more.png);
}
.container .sign-up{

}

/*---------portfolio --------------*/
.invitaion-desc{
    float: left;
    height: 398px;
    width: 29%;
    padding: 0px;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.2s ease-in-out 0s;
    background:#B3B3B3;
    background: -moz-linear-gradient(center top , #000 12px, #000 31px) repeat scroll 0 0 transparent;
    background:-moz-linear-gradient(top,#000 12px, #000 31px);
    background:-webkit-linear-gradient(top,#000 12px, #000 31px);
    background:-o-linear-gradient(top,#000 12px, #000 31px);
    background:linear-gradient(top,#000 12px, #000 31px);
    border-color: #000;
    border-bottom-width:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border-style: solid;
    border-width: 1px 1px 3px;
    -moz-box-shadow:
    0 0 10px #fff,
    0 1px 0 rgba(255,255,255,0.1) inset;
    -webkit-box-shadow:
    0 0 10px #fff,
    0 1px 0 rgba(255,255,255,0.1) inset;
    box-shadow:
    0 0 10px #fff,
    0 1px 0 rgba(255, 255, 255, 0.1) inset;

    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Gudea", "Arial";
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1;
    text-decoration: none;
    text-shadow: 0 0 2px #fff;
    text-align: center;
    opacity: 0.5;
    margin: 48px 0 10px;

}

.invitation-types{
    height: 100%;
    width: 70%;
    float: right;
}

.invitation-types ul.display-tiles{
    list-style: none;
}

.invitation-types ul.display-tiles li{
    display: block;
    float: left;
    height: 25px;
    margin: 5px;
    text-align: center;
    width: 130px;
/*    border: 1px solid red;
    height: 120px;
    width: 130px;
    float: left;
    margin-right: 8px;
    margin-top: 18px;
    background-color: #fff;
    cursor: pointer;
    color: black;*/
}

.invitation-types ul.display-tiles li:hover{
    padding: 51px 18px;
    margin: 2px;
    /*background-color: black;
    color: white;*/
}


/*--------Add new Event -----*/
.new-event{
    height: 100%;
    width: 60%;
}

.new-event dl dt textarea,
.new-event dl dt input{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.2s ease-in-out 0s;
    background:#B3B3B3;
    background:-moz-linear-gradient(center top , #B3B3B3, #FFFFFF) repeat scroll 0 0 transparent;
    background:-moz-linear-gradient(top,#B3B3B3, #FFFFFF);
    background:-webkit-linear-gradient(top,#B3B3B3, #FFFFFF);
    background:-o-linear-gradient(top,#B3B3B3, #FFFFFF);
    background:linear-gradient(top,#B3B3B3, #FFFFFF);
    border-color: #FFFFFF;
    border-bottom-width:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    border-style: solid;
    border-width: 1px 1px 3px;
    -moz-box-shadow:
    0 0 5px rgba(0,0,0,0.5),
    0 1px 0 rgba(255,255,255,0.1) inset;
    -webkit-box-shadow:
    0 0 5px rgba(0,0,0,0.5),
    0 1px 0 rgba(255,255,255,0.1) inset;
    box-shadow:
    0 0 5px rgba(0,0,0,0.5),
    0 1px 0 rgba(255,255,255,0.1) inset;
    font-family: "Gudea", "Arial";
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1;
    padding: 5px;
    text-decoration: none;
    text-shadow: 0 0 2px #6A6A6A;
    width: 400px;
}

.new-event dl dt{
    margin: 10px 0;
}

.new-event dl dt label{
    float: left;
    height: 20px;
    width: 130px;
}

.new-event dl dt input.create-event{
    background: -moz-linear-gradient(center top , #1D83C6, #2093DB) repeat scroll 0 0 transparent;
    border-color: #2093DB;
    margin-left: 276px;
    width: 100px;
}

.new-event dl dt a.form-link{
    color: white;
    float: left;
    font-size: 18px;
}

/*---------portfolio --------------*/

.footer{
    height: 160px;
    width: 100%;
}

.footer .help-links{
    float: left;
    height: 100%;
    width: 67%;
}

.footer .help-links ul{    
    float: left;
    height: 100%;
    list-style: none outside none;
    width: 33%;
}

.footer .help-links ul li a{
    color: black !important;
    font-family: Gudea, Arial;
    font-size: 17px;
    line-height: 27px;
}

.footer .help-links ul li.heading{
    color: white;
    font-family: Gudea, Arial;
    font-size: 20px;
    margin: 5px 0 10px;

}

.footer .follow-us-on{
    float: left;
    width: 32%;
    height: 100%;    
}

.footer .follow-us-on .saparator{
    border-left: 2px solid white;
    float: left;
    height: 75%;
    margin-top: 16px;
}

.footer .follow-us-on .follow-us{
    float: left;
    font-family: Gudea, Arial;
    font-size: 24px;
    margin: 10px 3px 0 8px;
}

.footer .follow-us-on .follow-on{    
    background-repeat: no-repeat;
    float: left;
    height: 100px;
    margin-left: 5px;
    text-indent: -99999px;
    width: 95px;
}

.footer .follow-us-on .follow-on.yt{
    background-image: url("/assets/web/follow-us-on-fb-yt.png");
}
.footer .follow-us-on .follow-on.fb{
    background-image: url("/assets/web/follow-us-on-fb-yt.png");
    background-position: -97px 0;
}


/*----------SLIDER CSS ----------------*/


/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika .jcarousel-container-horizontal { padding: 15px 20px; overflow:hidden;}
.jcarousel-skin-pika .jcarousel-clip-horizontal {height: 90px; width: 100%;}
.jcarousel-skin-pika .jcarousel-item-horizontal { margin-right: 10px;}

