<!DOCTYPE html><html>
  <head>
    <title>INVITATION_TITLE</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Italianno"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Gudea"/>
    <%= stylesheet_link_tag :basic, :design_main %>
    <%= javascript_include_tag "application", "jquery.simplemodal" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>

    <div id="control-panel">
        <!-- PANEL START HERE-->
        <div class="dashboard-panel">
          <div class="panel-back label">CANCEL</div>
          <div class="panel-actions"></div>
          <div class="panel-preview label">PREVIEW</div>
        </div>
        <!-- PANEL ENDS HERE-->
    </div>

    <!-- modal content -->
    <div id="basic-modal-content">
            <label class="text-header">Some good header</label>
            <div id="edit-title">
                <input type="text" id="title-input" value="" />
            </div>
            <div id="edit-subtitle">
                <input type="text" id="sub-title-input" value="" />
            </div>
            <a href="#" title="Done">Done</a>
    </div>

    <!-- preload the images -->
    <div style='display:none'>
            <img src='/assets/web/x.png' alt='' />
    </div>
    <!-- modal content end-->

    

    <style>
    /* ----MOVE THIS INTO APP CSS----- */
    #wrapper{
      position: relative;
      margin-bottom: 100px;
    }

    #control-panel{
      background-color: #B3B3B3;
      bottom: 0;
      height: 100px;
      position: fixed;
      width: 100%;
    }
    </style>

  </body>
</html>